@import url("https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

:root {
	--main-color: #f0f0f2;
	--second-color: #cef2f2;
	--color-dark: #1d2231;
	--text-grey: #333;
	--white: #fff;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
}
